.card_sokrat {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
}
.name_socr {
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
}

.card_tolle {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
}
.name_tolle {
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
}
.card_fashion {
  margin-top: auto;
  margin-bottom: auto;

  text-align: center;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
}
.card_health {
  margin-top: auto;
  margin-bottom: auto;

  text-align: center;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
}

.card_geine {
  margin-top: auto;
  margin-bottom: auto;

  text-align: center;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
}
.geine {
  text-align: center;
}
