.food-mood-card {
  text-align: center;
  margin-top: 25%;
  margin-left: 15%;
  letter-spacing: 5px;
  width: 70%;
  font-weight: 700;
  font-size: 20px;
}
.good_mood {
  border: 3px solid black;
  padding: 10px 0px 10px 0px;
}
